.settings {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;

    &-user-info {
        display: flex;
        flex-direction: column;
        color: white;
        background-color: #22b654;
        border-radius: 15px;
        width: 600px;
        justify-content: center;
        align-items: center;
        input {
            border-radius: 15px;
        }
        * {
            margin: 5px;
        }
    }
}