.conversion-manager-existing-table {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.conversion-manager-add-form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 60%;
    select {
        text-align: center;
        margin: 10px;
    }
    input: {
        text-align: right;
        border-radius: 5px;
        margin: 10px;
    }
    &-additional-info{
        &-inputs {
            display: flex;
            flex-direction: column;
            margin: 5px;
        }
    }

    &-close {
        position: absolute;
        right: 0;
        top: 0;
    }
    div {
        margin: 10px;
    }
}

.single-conversion {
    min-height: 300px;
    display: flex;
    border:4px solid black;
    border-radius: 10px;
    background-color: #1e2058; 
    color: white;
    margin: 10px;
    width: 22%;
    text-align: center;
    justify-content: center;
    h2, h3 {
        margin: 2px;
    }
    h3 {
        font-size: 12px;
    }
}
