//Import Fonts
@import url('https://fonts.googleapis.com/css?family=Titillium+Web:400,700');
// @import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600|Titillium+Web');
// @import url('https://fonts.googleapis.com/css?family=Open+Sans|Titillium+Web:400,600');
@import './components/styles/colors.scss'; 
@import './components/styles/main.scss';

@mixin flex($direction: row, $justify: center, $align: $center){
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

* { 
    font-family: 'Titillium Web', sans-serif;
    font-weight: 400;
    overflow-x: hidden;
}

body {
    margin: 0;
}
.main-container {
    background-color: $background-color;
}

.main {
    margin: 15px auto;
    text-align: center;
    width: 100%;
}

.btn {
    border-radius: 10px;
}

.white {
    background-color: white;
}